.Shop{
    display: inline-flex;
    align-content: center;
}
.Shop-Container{
    display: block;
    
}

.Shop-Element{
    display: inline-block;
    width: 300px;
    height: 310px;
    background-color: #5F697C;
    margin: 20px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 10px 10px grey;
}
.Shop-Element__Name{
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #ca9222;
    text-shadow: 3px 3px #0b62a0;
}
.Shop-Element__Image-Container{

}
.Shop-Element__Image-Container img{
    margin: 5px;
    width: 200px;
    height: 180px;
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 3px 3px #333333;
}
.Shop-Element__Details{

}
.Shop-Element__Enter{
    margin: 15px;
}
.Shop-Element__Enter .button {
    box-shadow: 4px 4px grey;
    border-radius: 3px;
    font-weight: 400;
    font: bold 15px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border: 1px solid #333333;
    cursor: pointer;
  }
  .Shop-Element__Enter .button:hover {
    cursor: pointer;
    font-weight: 600;
    color: #d8d80e;
    background-color: #282c34;
  }
