.App {
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App-header {
  background-color: #282c34;
  height: 55px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
.Header-Nav{
  display: flex;
  
}
.Header-Nav__Link{
  text-decoration: none;
  margin: 0 10px 0 10px;
  cursor: pointer;
  transition: color 300ms ease;
}
.Header-Nav__Link:hover{
  color: #d8d80e;
}
.Header-Nav__Link.active{
  color: #259D4E;
}
.Header-Nav__Link.active:hover{
  color: #d8d80e;
}
.Header-Nav__Link-Language{
  text-decoration: none;
  margin: 0 10px 0 10px;
  cursor: pointer;
  transition: color 300ms ease;
}

.App-Content{
  background-color: white;
}


