.App {
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

}
.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Header-Nav{
  display: flex;
}
.Header-Nav__Link{
  margin: 0 10px 0 10px;
}

